{% extends 'comweb/base.html' %}

{% block title %}Class Inclusions{% endblock %}

{% block content %}
<div class="container">
    <!-- Manual Inclusions Section -->
    <section class="mb-5" id="manual">
        <h2 class="mb-4">Manual Class Inclusions (ManualInclusion)</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Lower Class</th>
                        <th>Upper Class</th>
                        <th>Justification</th>
                        <th>References</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inc in manual_inclusions_page %}
                    <tr>
                        <td>{{ inc.lower.AB }}</td>
                        <td>{{ inc.upper.AB }}</td>
                        <td>{{ inc.justification }}</td>
                        <td>
                            {% if inc.references.exists %}
                                {% for ref in inc.references.all %}
                                    {{ ref.locator }} of [<a href="{{ ref.doi }}" target="_blank">{{ ref.DE }}</a>]{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav>
            <ul class="pagination">
            {% if manual_inclusions_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?manual_page={{ manual_inclusions_page.previous_page_number }}#manual">Previous</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
            <span class="page-link">Page {{ manual_inclusions_page.number }} of {{ manual_inclusions_page.paginator.num_pages }}</span>
            </li>
            {% if manual_inclusions_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?manual_page={{ manual_inclusions_page.next_page_number }}#manual">Next</a>
            </li>
            {% endif %}
            </ul>
        </nav>
    </section>

        <section class="mb-5" id="all_inc">
        <h2 class="mb-4">All Inclusions (Inclusion)</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Lower Class</th>
                        <th>Upper Class</th>
                        <th>Method</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inc in all_inclusions_page %}
                    <tr>
                        <td>{{ inc.lower.AB }}</td>
                        <td>{{ inc.upper.AB }}</td>
                        <td>
                            {% if inc.method.AB == 'manual' %}
                                manual: {{ inc.manual_justification }}
                                {% if inc.manual_references %}
                                    ; see
                                    {% for ref in inc.manual_references %}
                                        {{ ref.locator }} of [<a href="{{ ref.doi }}" target="_blank">{{ ref.DE }}</a>]{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                {% endif %}                            

                            {% elif inc.method.AB == 'trans' %}
                                transitivity: {{ inc.lower.AB }} ⊆ {{ inc.interm.AB }} ⊆ {{ inc.upper.AB }}
                            {% else %}
                                auto: {{ inc.method.NA }} 
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav>
        <ul class="pagination">
            {% if all_inclusions_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?all_page={{ all_inclusions_page.previous_page_number }}#all_inc">Previous</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
            <span class="page-link">Page {{ all_inclusions_page.number }} of {{ all_inclusions_page.paginator.num_pages }}</span>
            </li>
            {% if all_inclusions_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?all_page={{ all_inclusions_page.next_page_number }}#all_inc">Next</a>
            </li>
            {% endif %}
        </ul>
        </nav>
    </section>
</div>
{% endblock %}
