{% extends 'comweb/base.html' %}

{% block title %}Non-Inclusions{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Manual Non-Inclusions</h2>
    <div class="table-responsive mb-5" id ="manual">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Upper Class</th>
                    <th>Lower Class</th>
                    <th>Justification</th>
                    <th>References</th>
                </tr>
            </thead>
            <tbody>
                {% for inc in manual_noninclusions %}
                <tr>
                    <td>{{ inc.upper.AB }}</td>
                    <td>{{ inc.lower.AB }}</td>
                    <td>{{ inc.justification }}</td>
                    <td>
                        {% for ref in inc.references.all %}
                            ({{ ref.id }}, {{ ref.locator }}){% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="4" class="text-center">No manual non-inclusions found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            {% if manual_noninclusions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?manual_page={{ manual_noninclusions.previous_page_number }}#manual">Previous</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">Page {{ manual_noninclusions.number }} of {{ manual_noninclusions.paginator.num_pages }}</span>
            </li>
            {% if manual_noninclusions.has_next %}
            <li class="page-item">
                <a class="page-link" href="?manual_page={{ manual_noninclusions.next_page_number }}#manual">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <h2 class="mb-4">Non-Inclusions</h2>
    <div class="table-responsive">
        <table class="table table-striped" id="noninclusions">
            <thead>
                <tr>
                    <th>Upper Class</th>
                    <th>Lower Class</th>
                    <th>Method</th>
                </tr>
            </thead>
            <tbody>
                {% for inc in noninclusions %}
                <tr>
                    <td>{{ inc.upper.AB }}</td>
                    <td>{{ inc.lower.AB }}</td>
                    <td>
                        {% if inc.method and inc.method.AB == 'witness' %}
                            {{ inc.method.NA }}: {{ inc.witness_problem.AB }} ∉ {{ inc.upper.AB }} but {{inc.witness_problem.AB}} ∈ {{ inc.lower.AB }}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="3" class="text-center">No non-inclusions found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pagination">
            {% if noninclusions.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?all_page={{ noninclusions.previous_page_number }}#noninclusions">Previous</a>
            </li>
            {% endif %}
            <li class="page-item disabled">
                <span class="page-link">Page {{ noninclusions.number }} of {{ noninclusions.paginator.num_pages }}</span>
            </li>
            {% if noninclusions.has_next %}
            <li class="page-item">
                <a class="page-link" href="?all_page={{ noninclusions.next_page_number }}#noninclusions">Next</a>
            </li>
            {% endif %}
</div>
{% endblock %}